@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ARAÇ KAYIT OTOMASYONU</h1>
    <p>Bir tık uzaktayız :) <a href="https://www.sayacyazilim.com/">Daha Fazlası İçin</a>.</p>
</div>
