@model ArabaModel
@{
    ViewBag.Title = "Yeni Araç Oluştur";
}
<h2>Araç Kayıt</h2>
<hr />
<form method="post" action="/Araba/Create"> 
    <div class="row mb-3">
        <label for="tbAdi" class="col-sm-2 col-form-label"><strong>Araç Markası</strong></label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="tbName" placeholder="Araba Adını Giriniz.." name="Adi">
        </div>
    </div>
    <div class="row mb-3">
        <label for="nudUretimYili" class="col-sm-2 col-form-label"><b>Üretim Yılı</b></label>
        <div class="col-sm-5">
            <input type="number" class="form-control" id="nudUretimYili" placeholder="Üretim Tarhini Giriniz.."
                   min="1990" max="2019" name="UretimYili">
        </div>
    </div>
    <div class="row mb-3">
        <label for="tbFiyat" class="col-sm-2 col-form-label" style="font-weight: bold;">Fiyat</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="tbFiyat" placeholder="Fiyat Giriniz.." name="Fiyat">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label boldlabel">Üretici</label>
        <div class="col-sm-5" style="padding-top: 6px;">
            <span class="text-secondary">Araba Kayıt edildikten sonra düzenlenebilir.</span>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-2 col-sm-5">
            <button type="submit" class="btn alert-dark">Kaydet</button>
            &nbsp;&nbsp;&nbsp;
            <button type="reset" class="btn alert-dark">Temizle</button>
        </div>
    </div>
</form>