@model ArabaModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Araç Bilgi Düzenleme</h4>

<h4>Araç Bilgileri</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Adi" class="control-label"></label>
                <input asp-for="Adi" class="form-control" />
                <span asp-validation-for="Adi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UretimYili" class="control-label"></label>
                <input asp-for="UretimYili" class="form-control" />
                <span asp-validation-for="UretimYili" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FiyatModel" class="control-label"></label>
                <input asp-for="FiyatModel" class="form-control" />
                <span asp-validation-for="FiyatModel" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

